<%- include('input/input_layout',
 { metaTitle: t('arrange.meta_title'), 
 metaDescription: t('arrange.meta_description'), 
 ogTitle:t('arrange.meta_title'), ogDescription: t('arrange.meta_description') }) %>

<body>
    <%- include('input/input_mobile-service') %>
        <%- include('input/input_mobile-header') %>
        <%- include('input/input_pagesHeader') %>
            <div class="serverce-descript">
                <%- include('input/input_service') %>
                    <div id="content">
                        <h id="content-title">
                            <%= t('arrange.content.service_title') %>
                        </h>
                        <p>　　<%= t('arrange.content.service_description') %>
                        </p>
                        
                        <p>
                            <%= t('arrange.content.modification') %>
                        </p>

                        <p class="title">
                            <%= t('arrange.content.prepare_title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('arrange.content.prepare_items.prepare_items1') %>
                            </li>
                            <li>
                                <%= t('arrange.content.prepare_items.prepare_items2') %>
                            </li>
                            <li>
                                <%= t('arrange.content.prepare_items.prepare_items3') %>
                            </li>
                        </ul>

                        <p style="color: var(--warn-color);">
                            <%= t('arrange.content.notice_title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('arrange.content.notices.notices1') %>
                            </li>
                            <li>
                                <%= t('arrange.content.notices.notices2') %>
                            </li>
                            <li>
                                <%= t('arrange.content.notices.notices3') %>
                            </li>
                            <li>
                                <%= t('arrange.content.notices.notices4') %>
                            </li>
                        </ul>
                        <a href="javascript:void(0);" class="book"
                        onclick="gtag('event', '前往預約表單', {
                            'event_category': 'button',
                            'event_label': '前往預約表單_編曲',
                            'value': 1
                          });
                          setTimeout(function(){
                          window.location.href='https://forms.gle/ogop721i5NfyJHmV8';
                          }, 300);">
                            <%= t('arrange.content.book_consultation') %>
                        </a>
                        <%- include('input/input_FAQ') %>
                    </div>
            </div>
            <%- include('input/input_changeLanguage') %>
            <%- include('input/input_backtopBtn') %>
            <%- include('input/input_discordLoginBtn') %>
            <%- include('input/input_footer') %>

</body>

</html>