<!DOCTYPE html>
<html lang="h-Hant-TW ">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KH4NPVYE4F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KH4NPVYE4F');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= t('arrange.meta_title') %>
    </title>
    <!-- GoogleFont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Page.css -->
    <link href="/CSS/Page.css" rel="stylesheet" />
    <link href="/CSS/Mobile-Page.css" rel="stylesheet" />
    <!-- Animate.css v3.5.2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e86dcc2690.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('input/input_mobile-service') %>
        <%- include('input/input_mobile-header') %>
            <header id="header">
                <div class="header-container">
                    <a href="/" id="LOGO">
                        <img id="LOGO2" style="height:var(--LOGO-height);" ; src="/ICON/LOGO_White.png">
                    </a>
                </div>
            </header>
            <div class="serverce-descript">
                <%- include('input/input_service') %>
                    <div id="content">
                        <h id="content-title">
                            <%= t('arrange.content.service_title') %>
                        </h>
                        <p>　　<%= t('arrange.content.service_description') %>
                        </p>

                        <p>
                            <%= t('arrange.content.price') %>
                        </p>

                        <p>
                            <%= t('arrange.content.modification') %>
                        </p>

                        <p class="title">
                            <%= t('arrange.content.prepare_title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('arrange.content.prepare_items.prepare_items1') %>
                            </li>
                            <li>
                                <%= t('arrange.content.prepare_items.prepare_items2') %>
                            </li>
                            <li>
                                <%= t('arrange.content.prepare_items.prepare_items3') %>
                            </li>
                        </ul>

                        <p style="color: var(--warn-color);">
                            <%= t('arrange.content.notice_title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('arrange.content.notices.notices1') %>
                            </li>
                            <li>
                                <%= t('arrange.content.notices.notices2') %>
                            </li>
                            <li>
                                <%= t('arrange.content.notices.notices3') %>
                            </li>
                            <li>
                                <%= t('arrange.content.notices.notices4') %>
                            </li>
                        </ul>
                        <a class="book" href="https://forms.gle/ogop721i5NfyJHmV8">
                            <%= t('arrange.content.book_consultation') %>
                        </a>
                        <%- include('input/input_FAQ') %>
                    </div>
            </div>
            <%- include('input/input_changeLanguage') %>
            <%- include('input/input_backtopBtn') %>
            <%- include('input/input_footer') %>

</body>

</html>