<%- include('input/input_layout',
 { metaTitle: t('beatmarket.meta_title'), 
 metaDescription: t('beatmarket.meta_description'), 
 ogTitle:t('beatmarket.meta_title'), ogDescription: t('beatmarket.meta_description') }) %>

<body>
    <link href="/CSS/Beat-market.css" rel="stylesheet" />
    <link href="/CSS/Mobile-Beat-market.css" rel="stylesheet" />
    <header id="header">
        <div class="header-container">
            <a href="/" id="LOGO">
                <img id="LOGO2" style="height:var(--LOGO-height);" ; src="/ICON/LOGO_White.png">
            </a>
        </div>
    </header>
    <%- include('input/input_mobile-header') %>
    <div class="serverce-descript">
        <%- include('input/input_pages-navigation') %>
        <audio-player src="-" id="AudioPlayer" title="-" loop></audio-player>

        <div class="container" style="width: 90%;">

            <h class="large-title"><%= t('beatmarket.large_title') %></h>

            <div class=" beat-container">
                <% Object.values(beatsData).forEach(function(beat) { %>
                    <div class="track">
                        <button class="thumbnail" style="background-image: url('/BEAT/img/<%= beat.name %>.jpg');"
                                onclick="AudioPlayer.changeAudio('./BEAT/track/<%= beat.file_name %>', '<%= beat.name %>')"></button>
                        <h class="beat-name"><%= beat.name %></h>
                        <div class="produc-info">
                            <!-- 使用條件判斷語言環境顯示不同的 price_tag -->
                            <% if (currentLocale === 'zh') { %>
                                <p class="Price-tag"><%= beat.NT_price_tag %></p>
                                <button class="checkout-btn" onclick="showPopup('<%= beat.name %>', <%= beat.NT_price_value %>)">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            <% } else { %>
                                <p class="Price-tag"><%= beat.US_price_tag %></p>
                                <button class="checkout-btn" onclick="showPopup('<%= beat.name %>', <%= beat.US_price_value %>)">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            <% } %>
                        </div>
                        <div class="tag-container">
                            <p class="tag type"><%= beat.type1 %></p>
                            <p class="tag type"><%= beat.bpm %> BPM</p>
                            <p class="tag mood"><%= beat.mood1 %></p>
                            <p class="tag mood"><%= beat.mood2 %></p>
                            <p class="tag mood"><%= beat.mood3 %></p>
                        </div>
                    </div>
                <% }); %>

            </div>
        </div>

        <!-- 背景遮罩 -->
        <div id="overlay" onclick="hidePopup()"></div>

        <!-- 彈出表單 -->
        <div id="popupForm" style="flex-direction: row;">
            <div class="checkout-notice">
                <h1 style="color: #b10000;font-family: 'Noto Serif TC';text-align: center;">
                    <%= t('beatmarket.notice.title') %></h1>
                <li class="notice-text"><%= t('beatmarket.notice.notice-text1') %></li>
                <li class="notice-text"><%= t('beatmarket.notice.notice-text2') %></li>
                <li class="notice-text"><%= t('beatmarket.notice.notice-text3') %></li>
                <p class="notice-text">
                    <%= t('beatmarket.notice.notice-text4') %>
                <p>
            </div>
            <form class="checkout-form" action="https://yyrealseer.com/<%= t('beatmarket.payment') %>-pay" method="POST">
                <label class="checkout-title" for="invoiceId"><%= t('beatmarket.form.number') %></label>
                <input class="checkout-list readonly" type="text" id="invoiceId" name="invoiceId" required
                    readonly><br><br>

                <label class="checkout-title" for="currency"><%= t('beatmarket.form.currency') %></label>
                <input class="checkout-list readonly" type="currency" id="currency" name="currency" value="<%= t('beatmarket.currency') %>" required
                    readonly><br><br>

                <label class="checkout-title" for="amount"><%= t('beatmarket.form.amount') %></label>
                <input class="checkout-list readonly" type="number" id="amount" name="amount" required readonly><br><br>

                <label class="checkout-title" for="description"><%= t('beatmarket.form.description') %></label>
                <input class="checkout-list readonly" type="text" id="description" name="description" required
                    readonly><br><br>

                <label class="checkout-title" for="Email"><%= t('beatmarket.form.Email') %></label>
                <input class="checkout-list" type="email" id="Email" name="Email" required><br><br>

                <button style=" background-color: var(--main-color); padding: 2px 10px; border-radius: 5px;"
                    type="submit"><%= t('beatmarket.form.checkout') %></button>
            </form>
        </div>
        <div style="height: 5000px;"></div>
        <div id="output"></div>
    </div>

    <%- include('input/input_changeLanguage') %>
    <%- include('input/input_footer') %>
    <!-- plaer.js -->
    <script type="text/javascript" src="/JS/player.js"></script>
    <!-- beat-checkout.js -->
    <script type="text/javascript" src="/JS/beat-checkout.js"></script>
</body>

</html>