<%- include('input/input_layout',
 { metaTitle: t('course.meta_title'), 
 metaDescription: t('course.meta_description'), 
 ogTitle:t('course.meta_title'), ogDescription: t('course.meta_description') }) %>

<body>
    <%- include('input/input_mobile-service') %>
        <%- include('input/input_mobile-header') %>
            <header id="header">
                <div class="header-container">
                    <a href="/" id="LOGO">
                        <img id="LOGO2" style="height:var(--LOGO-height);" ; src="/ICON/LOGO_White.png">
                    </a>
                </div>
            </header>
            <div class="serverce-descript">
                <%- include('input/input_service') %>
                    <div id="content">
                        <h id="content-title">
                            <%= t('course.content.service_title') %>
                        </h>
                        <p>　　<%= t('course.content.service_description') %>
                        </p>

                        <p>
                            <%= t('course.content.price') %>
                        </p>

                        <p style="color: var(--sub-color);">
                            <%= t('course.content.title') %>
                        </p>

                        <ul>
                            <li class="title">
                                <%= t('course.content.lyric_composition') %>
                            </li>
                        </ul>

                        <p style="margin-left:80px">
                            <%= t('course.content.topic1') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.topic2') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.topic3') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.topic4') %>
                        </p>

                        <ul>
                            <li class="title">
                                <%= t('course.content.computer_arrangement') %>
                            </li>
                        </ul>

                        <p style="margin-left:80px">
                            <%= t('course.content.software_topic1') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.software_topic2') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.software_topic3') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.software_topic4') %>
                        </p>

                        <ul>
                            <li class="title">
                                <%= t('course.content.personal_demo') %>
                            </li>
                        </ul>

                        <p style="margin-left:80px">
                            <%= t('course.content.demo_topic1') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.demo_topic2') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.demo_topic3') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.demo_topic4') %>
                        </p>

                        <p style="margin-left:80px">
                            <%= t('course.content.demo_topic5') %>
                        </p>

                        <p style="color: var(--warn-color);">
                            <%= t('course.content.notice.title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('course.content.notice.item1') %>
                            </li>
                            <li>
                                <%= t('course.content.notice.item2') %>
                            </li>
                            <li>
                                <%= t('course.content.notice.item3') %>
                            </li>
                        </ul>
                        <a class="book" href="https://forms.gle/ogop721i5NfyJHmV8">
                            <%= t('course.content.book_consultation') %>
                        </a>
                        <%- include('input/input_FAQ') %>
                    </div>
            </div>
            <%- include('input/input_changeLanguage') %>
                <%- include('input/input_backtopBtn') %>
                    <%- include('input/input_footer') %>

</body>

</html>