<%- include('input/input_layout',
 { metaTitle: t('faq.meta_title'), 
 metaDescription: t('faq.meta_description'), 
 ogTitle:t('faq.meta_title'), ogDescription: t('faq.meta_description') }) %>

<body>
    <header id="header">
        <div class="header-container">
            <a href="/" id="LOGO">
                <img id="LOGO2" style="height:var(--LOGO-height);" ; src="/ICON/LOGO_White.png">
            </a>
        </div>
    </header>
    <%- include('input/input_mobile-header') %>
    <div class="serverce-descript">
        <%- include('input/input_pages-navigation') %>
        <div id="content">
            <%- include('input/input_FAQ') %>
        </div>
    </div>
    <%- include('input/input_changeLanguage') %>
    <%- include('input/input_backtopBtn') %>
    <%- include('input/input_footer') %>
</body>

</html>