<%- include('input/input_layout',
 { metaTitle: t('production.meta_title'), 
 metaDescription: t('production.meta_description'), 
 ogTitle:t('production.meta_title'), ogDescription: t('production.meta_description') }) %>

<body>
    <%- include('input/input_mobile-service') %>
        <%- include('input/input_mobile-header') %>
            <header id="header">
                <div class="header-container">
                    <a href="/" id="LOGO">
                        <img id="LOGO2" style="height:var(--LOGO-height);" ; src="/ICON/LOGO_White.png">
                    </a>
                </div>
            </header>
            <div class="serverce-descript">
                <%- include('input/input_service') %>
                    <div id="content">
                        <h id="content-title">
                            <%= t('production.content.service_title') %>
                        </h>
                        <p>&emsp;&emsp;<%= t('production.content.service_description') %>
                        </p>
                        <p>
                            <%= t('production.content.price') %>
                        </p>

                        <p>
                            <%= t('production.content.modification') %>
                        </p>

                        <p class="title">
                            <%= t('production.content.prepare_title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('production.content.prepare_items1') %>
                            </li>
                            <li>
                                <%= t('production.content.prepare_items2') %>
                            </li>
                            <li>
                                <%= t('production.content.prepare_items3') %>
                            </li>
                            <li>
                                <%= t('production.content.prepare_items4') %>
                            </li>
                        </ul>

                        <p style="font-size: 15px;">
                            <%= t('production.content.prepare_note') %>
                        </p>

                        <p>&nbsp;</p>

                        <p style="color: var(--warn-color);">
                            <%= t('production.content.notice_title') %>
                        </p>

                        <ul>
                            <li>
                                <%= t('production.content.notices1') %>
                            </li>
                            <li>
                                <%= t('production.content.notices2') %>
                            </li>
                            <li>
                                <%= t('production.content.notices3') %>
                            </li>
                            <li>
                                <%= t('production.content.notices4') %>
                            </li>
                            <li>
                                <%= t('production.content.notices5') %>
                            </li>
                        </ul>

                        <a href="javascript:void(0);" class="book" onclick="gtag('event', '前往商店', {
                            'event_category': 'button',
                            'event_label': '前往商店_專案頁面',
                            'value': 1
                          });
                          setTimeout(function(){
                          window.location.href='/BeatMarket';
                          }, 300);">
                            <%= t('production.content.book_consultation') %>
                        </a>
                        <%- include('input/input_FAQ') %>
                    </div>
            </div>
            <%- include('input/input_changeLanguage') %>
            <%- include('input/input_backtopBtn') %>
            <%- include('input/input_discordLoginBtn') %>
            <%- include('input/input_footer') %>
</body>

</html>