<%- include('input/input_layout',
 { metaTitle: t('success.meta_title'), 
 metaDescription: t('success.meta_description'), 
 ogTitle:t('success.meta_title'), ogDescription: t('success.meta_description') }) %>

<body>
    <header id="mobile-header"></header>
    <header id="header">
        <div class="header-container">
            <a href="/" id="LOGO">
                <img id="LOGO2" style="height:var(--LOGO-height);" ; src="/ICON/LOGO_White.png">
            </a>
        </div>
    </header>
    <div class="successmsg">
        <h class="success-title">
            <%= t('success.success_title') %>
        </h>
        <p class="success-text">　　<%= t('success.success_text') %>
        </p>

        <a class="return-text" href="./BeatMarket">
            <%= t('success.return_text') %>
        </a>
    </div>
    <select id="language-select" onchange="changeLanguage()">
        <option value="zh" <%=(currentLocale==='zh' ) ? 'selected' : '' %>>中文</option>
        <option value="en" <%=(currentLocale==='en' ) ? 'selected' : '' %>>English</option>
    </select>
    <style>
        .successmsg {
            width: 100vw;
        }

        .success-title {
            display: block;
            text-align: center;
            font-size: 50px;
            margin: 3% 0px;
            color: var(--sub-color);
        }

        .success-text {
            display: block;
            text-align: center;
            font-size: 20px;
        }

        .return-text {
            display: block;
            text-align: center;
            margin: 5% 0;
        }

        @media (max-width: 767px) {
            .successmsg {
                height: 57vh;
            }

            .success-title {
                font-size: 44px;
                margin: 14% 0px;
            }

            .success-text {
                font-size: 15px;
                margin: 10% 6%;
            }

            .return-text {
                margin: 14% 0;
            }
        }
    </style>
    <footer class="footer">

        <!-------- 外部JS -------->
        <!-- Jquery.js -->
        <script type="text/javascript" src="/JS/jquery.min.js"></script>
        <!-------- JS -------->
        <!-- changeLanguage.js -->
        <script src="/JS/changeLanguage.js" lang="JavaScript"></script>

        <!-------- INPUT -------->
        <!-- Mobil header -->
        <script>
            $(function () {
                $('#mobile-header').load('./input/input_mobile-header.html');
            });
        </script>
        <!-- Footer -->
        <script>
            $(function () {
                $('.footer').load('./input/input_footer.html');
            });
        </script>
</body>

</html>